*__pychache*
*/.ipynb_checkpoints
eacf/targets/target_energy/data/qm9_valid.npy
eacf/targets/target_energy/data/qm9_train.npy
eacf/targets/target_energy/data/qm9_test.npy
*/temp/*
*.pyc
*.npz
*.npy
*.log
/outputs
/examples/*./models/
/hpc_scripts/
