dm-haiku
distrax
chex
optax
e3nn-jax==0.17.2
flax
matplotlib
tqdm
pandas
jupyterlab
wandb
pytest
hydra-core
hydra-joblib-launcher
joblib
mdtraj
tables
git+https://github.com/VincentStimper/boltzmann-generators
git+https://github.com/lollcat/fab-jax@v0.0.0