dm-haiku==0.0.9
distrax==0.1.3
chex==0.1.7
optax==0.1.4
numpy==1.22.4
e3nn-jax==0.17.2
matplotlib
tqdm
pandas
jupyterlab
wandb
pytest
hydra-core
hydra-joblib-launcher
joblib
mdtraj
tables
git+https://github.com/VincentStimper/boltzmann-generators