#defaults:
#  - override hydra/launcher: joblib

hydra:
  job:
    chdir: false

target:
  data:
    train: target/data/aldp_500K_train_mini.h5
    test: target/data/aldp_500K_test_mini.h5
  aux:
    global_centering: false
    scale_init: 0.1
    trainable_augmented_scale: false

flow:
  n_aug: 1
  base:
    aux:
      global_centering: false
      scale_init: ${target.aux.scale_init}
      trainable_augmented_scale: true
  dim: 3
  nodes: 22
  n_layers: 8
  identity_init: true
  type: proj_rnvp #  nice proj_rnvp  proj_spline
  kwargs:
    proj_rnvp:
      origin_on_coupled_pair: false
    proj_spline:
      origin_on_coupled_pair: false
      num_bins: 8
      lower: -2.
      upper: 2.
  act_norm: false
  compile_n_unroll: 1
  nets:
    type: egnn # mace or egnn or e3transformer or e3gnn
    egnn:
      mlp_units: [64,64]
      n_layers: 3
      normalize_by_norms: true
      variance_scaling_init: 0.001
      agg: mean
      normalization_constant: 1.0
      h_linear_softmax: true
      h_embedding_dim: 64
    mlp_head_config:
      mlp_units: [ 64, 64 ]


training:
  optimizer:
    init_lr: 6e-5
    optimizer_name: adam
    use_schedule: true
    peak_lr: 6e-4 # can be null
    end_lr: 6e-5 # can be null
    warmup_n_epoch: 10 # can be null
    max_global_norm: 1.0
  use_64_bit: false
  n_epoch: 64
  batch_size: 64
  plot_batch_size: 1000
  seed: 0
  train_set_size: null
  test_set_size: null
  n_plots: 10
  n_checkpoints: 0
  n_eval: 20
  K_marginal_log_lik: 20
  save: true
  save_dir: aldp_results
  use_flow_aux_loss: true
  aux_loss_weight: 1.0
  last_iter_info_only: true


eval:
  plot_n_batches: 10


logger:
  list_logger: null
  pandas_logger:
    save_period: 1000 # how often to save the pandas dataframe as a csv
#  wandb:
#    name: aldp_${flow.nets.type}_auxloss${training.use_flow_aux_loss}_bs${training.batch_size} # qm9pos_${flow.type}_${flow.nets.type}_batchsize${training.batch_size}_opt${training.optimizer.optimizer_name}_maxnorm${training.optimizer.max_global_norm}_lrs${training.optimizer.init_lr}-${training.optimizer.peak_lr}_layers${flow.n_layers}_augtargetscale${target.aug_scale}
#    project: fab
#    entity: flow-ais-bootstrap
#    tags: [aldp,loll]
