#defaults:
#  - override hydra/launcher: joblib

hydra:
  job:
    chdir: false

target:
  aux:
    global_centering: false
    scale_init: 1.0
    trainable_augmented_scale: false
  custom_samples: false
  temperature: 0.1  # 0.1 or 1 are two good options


flow:
  base:
    aux:
      global_centering: false
      scale_init: ${target.aux.scale_init}
      trainable_augmented_scale: true
  dim: 2
  nodes: 4
  n_aug: 1
  n_layers: 4
  identity_init: true
  type: proj # vector_scale  vector_scale nice proj   proj_v2 realnvp_non_eq
  kwargs:
    proj:
      global_frame: false
      process_flow_params_jointly: false
      condition_on_x_proj: true
      gram_schmidt: false
      add_small_identity: true
  act_norm: false
  compile_n_unroll: 1
  nets:
    type: egnn
    egnn:
      mlp_units: [32,32]
      n_layers: 3
      normalize_by_norms: true
      variance_scaling_init: 0.001
      agg: mean
      h_linear_softmax: true
      h_embedding_dim: 16
    transformer: # for proj and proj_v2 flows.
      mlp_units: [32,32]
      num_heads: 3
      key_size: 4
      w_init_scale: 0.1
      n_layers: 3
    mlp_head_config:
      mlp_units: [32, 32]


training:
  optimizer:
    init_lr: 1e-5
    optimizer_name: adam
    use_schedule: true
    peak_lr: 1e-3 # can be null
    end_lr: 1e-5 # can be null
    warmup_n_epoch: 2. # can be null
    max_global_norm: 0.5
  use_64_bit: false
  n_epoch: 50
  batch_size: 200
  plot_batch_size: 256
  seed: 0
  train_set_size: 1000
  test_set_size: 1000
  n_plots: 6
  n_checkpoints: 2
  n_eval: 10
  K_marginal_log_lik: 20
  save: true
  save_dir: dw4_results
  use_flow_aux_loss: false
  aux_loss_weight: 1.0
  last_iter_info_only: true

logger:
#  list_logger: null
#  pandas_logger:
#    save_period: 1000 # how often to save the pandas dataframe as a csv
  wandb:
    name: dw4_${flow.type}
    project: fab
    entity: flow-ais-bootstrap
    tags: [dw4]

